---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->

  <ul class="post-list">


    {% for post in site.posts %}
    {% for category in post.categories %}
      {% if category == "Opinions" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="https://github.com/{{ post.author }}">{{ post.author }}</a></span></span>
        <br>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
      {% endfor %}
    {% endfor %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
